services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: rawmart_backend
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
      - ./backend/storage:/var/www/html/storage
      - ./backend/bootstrap/cache:/var/www/html/bootstrap/cache
    env_file:
      - ./backend/.env
    depends_on:
      - mysql
      - redis
    networks:
      - app-network
    ports:
      - "8000:8000"
    command: sh -c "php artisan migrate --force && php artisan serve --host=0.0.0.0 --port=8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: rawmart_frontend
    restart: unless-stopped
    working_dir: /app
    volumes:
      - ./frontend:/app
    environment:
      NODE_ENV: development
    depends_on:
      - backend
    networks:
      - app-network
    ports:
      - "3000:3000"
    command: yarn dev --hostname 0.0.0.0

  queue_worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: rawmart_queue_worker
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
      - ./backend/storage:/var/www/html/storage
      - ./backend/bootstrap/cache:/var/www/html/bootstrap/cache
    env_file:
      - ./backend/.env
    depends_on:
      - backend
      - redis
      - mysql
    networks:
      - app-network
    command: php artisan queue:work --sleep=3 --tries=3

  scheduler:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: rawmart_scheduler
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
      - ./backend/storage:/var/www/html/storage
      - ./backend/bootstrap/cache:/var/www/html/bootstrap/cache
    env_file:
      - ./backend/.env
    depends_on:
      - backend
      - redis
      - mysql
    networks:
      - app-network
    command: php artisan schedule:work

  mysql:
    image: mysql:8.0
    container_name: rawmart_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: blog
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  redis:
    image: redis:7
    container_name: rawmart_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge

